.nav-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 66px;
    background-color: #272727;
  }

  .nav-tab__link{
    display: flex;
    font-size: 12px;
    line-height: 16px;
    color: white;
    margin-right: 40px;
  }
  
  .nav-tab__link:last-child{
    margin-right: 0px;
  }