.search-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 65px;
	column-gap: 10px;
}

.search-form__field {
	flex-grow: 1;
}

.search-form__input {
	width: 100%;
	height: 46px;
	background-color: #2F2F2F;
	border-radius: 40px;
	border: none;
	padding: 0 0 0 20px;
	color: #8B8B8B;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.search-form__input:focus {
	outline:none
}

.search-form__input:active {
	border: none;
}

.search-form__button{
	border: none;
	width: 34px;
	height: 34px;
	background: url('../../../images/find.svg');
	background-size: cover;
	flex-shrink: 0;
	margin: 6px 6px 6px -30px;
	transition: opacity 0.3s;
}

.search-form__button:hover{
	opacity: 0.8;
	cursor: pointer;
}